.experts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.experts__title {
    width: 512px;
    height: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 80px;
}

.experts__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 56px;
}

.experts__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 276px;
    height: 296px;
    border-radius: 56px;
}

.name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--text--color-black);
    letter-spacing: 0.0025em;
}

.job-title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.0025em;
    color: var(--text--color-gray);
    font-weight: 400;
}

.company {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
