.experts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: var(--spacing-xl);
    gap: var(--spacing-l);

}

.experts__title {
    width: 43.5%;
    height: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-s);
}

.experts__title > :last-child {
    color: var(--text--color-gray)
}

.experts__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: var(--spacing-s);
    row-gap: var(--spacing-m);
}

.experts__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}

.experts__card-photo {
    width: var(--size-photo-experts);
    height: var(--size-photo-experts);
    border: 1px solid var(--color-border);
    filter: drop-shadow(var(--shadow));
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-s);

}

.experts__card-name {
    font-size: var(--font-size-20);
    line-height: 24px;
    color: var(--text--color-black);
    letter-spacing: 0.0025em;
    text-align: center;

}

.experts__card-job-title {
    font-size: var(--font-size-18);
    line-height: 22px;
    letter-spacing: 0.0025em;
    color: var(--text--color-gray);
    text-align: center;
}

.experts__card-company {
    text-align: center;
    font-size: var(--font-size-18);
    line-height: 22px;
    color: var(--text--color-gray);
}

.color-ws {
    color: var(--text--color-blue)
}

.experts__CEO {
    display: flex;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    justify-content: center;
    background-image: url("../images/decoration-element.svg");
    background-repeat: no-repeat;
    background-position: right 5% bottom 5%;
    background-origin: content-box;

}

.experts__CEO-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experts__CEO__card {
    display: flex;
    padding: 56px min(max(40px, 4vw), 56px) 56px;
    column-gap: 40px;
    justify-content: center;
}

.experts__CEO-photo {
    width: var(--size-photo-CEO);
    height: var(--size-photo-CEO);
    border: 1px solid var(--color-border);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-s);
}

.experts__CEO-text {
    display: flex;
    flex-direction: column;
    width: 42%;
    gap: 1em;
    font-size: var(--font-size-20);
    line-height: var(--spacing-s);
    justify-content: space-between;
    color: var(--text--color-black)

}

.decoration-element {
    width: 72px;
    height: 72px;
    bottom: 32px;
    right: 32px;
}