.pain {
    width: 1176px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.pain__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
    font-size: 24px;
    width: 1176px;
    height: 568px;
}

.pain__card {
    position: relative;
    padding: 32px 32px 112px 32px;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    color: var(--text--color-gray);
    font-weight: 600;
}

.pain__card--1 {
    width: 276px;
    height: 272px;
}

.pain__card--2 {
    width: 376px;
    height: 272px;
}

.pain__card--3 {
    width: 476px;
    height: 272px;
}

.pain__card--4 {
    width: 376px;
    height: 272px;
}

.pain__card--5 {
    width: 376px;
    height: 272px;
}

.pain__card--6 {
    width: 376px;
    height: 272px;
}

.pain-emoji {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 24px;
    right: 24px;
}
