@import "painCard.css";
@import "testBenefits.css";
@import "experts.css";
@import "footer.css";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Futura PT', sans-serif;
    outline: 1px solid red; /*delete*/
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

img {
    display: block;
}

:root {
    --text--color-gray: #637899;
    --text--color-blue: #56B8FF;
    --text--color-black: #27303F;
    --color-border: #DBE3F0;
    --color-background: #F9FAFD;
}

a {
    color: var(--text--color-gray);
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
}

/*Button*/
button {
    width: 392px;
    height: 56px;
    color: var(--text--color-blue);
    background-color: white;
    border: 2px solid var(--text--color-blue);
    border-radius: 10px;

    margin-bottom: 12px;

    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: var(--text--color-gray);
}

.wrapper__button {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--text--color-gray)
}

/*FONT-WEIGHT*/
.fw-800 {
    font-weight: 800;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    /* position: relative;*/
}

/*HEADER*/

header {
    width: 100%;
    height: 820px;
    margin-bottom: 96px;
}

.illustration {
    position: relative; /*absolute*/
    width: 676px;
    height: 740px;
    left: 632px;
    top: 80px;
}

.logo {
    position: absolute;
    height: 80px;
    width: 112px;
    left: 1196px;
    top: 64px;
}

.wrapper {
    z-index: 1000;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
    position: absolute;
    width: 488px;
    height: 790px;
    left: 132px;
    top: 0;
    border: 1px solid var(--color-border);
    border-radius: 0 0 20px 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
}

.wrapper__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;

    /*width: 392px;*/
    /*height: 474px;*/
}

.wrapper__header-badge {
    display: flex;
    column-gap: 8px;
    margin-top: 96px;
    font-size: 20px;
    line-height: 24px;
    color: var(--text--color-gray);
}

.wrapper__header-heading {
    font-family: 'Futura Condensed PT', sans-serif;
    margin: 24px 0;
    height: 192px;
    font-size: 64px;
    line-height: 100%;
    /*display: flex;*/
    /*align-items: center;*/
    text-align: center;
    text-transform: uppercase;
}

.wrapper__header-sub {
    font-size: 20px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.0025em;
    color: var(--text--color-gray);
}

.wrapper__more {
    margin-top: 92px;
    position: relative;
}

.wrapper__more--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    color: var(--text--color-gray);

    position: absolute;
    width: 95px;
    height: 48px;
    left: calc(50% - 95px / 2 - 0.5px);
    bottom: 52px;
}

/**/
.partners {


}

/*SECTION INFORMATION_PARTNERS*/
.information-partners, .general-partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    line-height: 132%;
    letter-spacing: 0.0025em;
    text-align: center;
}

.general-partners {
    margin-bottom: 56px;
}

.general-partners__title {
    margin-bottom: 32px;
}

.information-partners__title {
    margin-bottom: 32px;
}

.general-partners__image {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 72px;
    /*width: 366px;*/
    /*height: 80px;*/
}

.information-partners__image {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 72px;

    width: 847.24px;
    height: 80px;
}

h2 {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.0025em;
    text-transform: uppercase;
}

h4 {
    font-size: 24px;
    line-height: 132%;
    letter-spacing: 0.0025em;
    text-align: center;
}

.result-title {
    width: 768px;
    height: 96px;
    margin-bottom: 144px;
}

@media (max-width: 980px) {
    .pain__card--1 {
        width: 212px;
        height: 304px;
    }

    .pain__card--2 {
        width: 290px;
        height: 304px;
    }

    .pain__card--3 {
        width: 366px;
        height: 304px;
    }

    .pain__card--4 {
        width: 289px;
        height: 304px;
    }

    .pain__card--5 {
        width: 290px;
        height: 304px;
    }

    .pain__card--6 {
        width: 289px;
        height: 304px;
    }
}

/*@media (max-width: 1232px) {*/
/*    .container {*/
/*    }*/
/*}*/

@media (max-width: 979px ) and (min-width: 768px) {
    body {

    }

    .container {
        width: 100%;
        padding: 0 24px;
    }

    .logo {
        position: absolute;
        width: 77.45px;
        height: 56px;
        left: 354.77px;
        top: 48px;
        z-index: 10000;
    }


    .wrapper {
        position: absolute;
        width: 640px;
        height: 716px;
        left: 0; /* left: calc(50% - 640px / 2);*/
        top: 0;
        margin: 0 64px;
    }

    .wrapper__header {
        margin-bottom: 0;
    }

    .wrapper__header-badge {
        margin-top: 136px;
    }

    .wrapper__header-heading {
        width: 544px;
        height: 128px;

    }

    .wrapper__header-sub {
        width: 392px;
        height: 72px;
        margin-bottom: 45px;
    }

    .wrapper__more {
        margin-top: 46px;
    }

    .illustration {
        position: absolute;
        width: 896px;
        height: 981px;
        left: -64px;
        top: 272px;
    }

    .partners {
        margin-top: 537px;
    }

    .information-partners__image {
        width: 504px;
        height: 151.21px;
        column-gap: 60px;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 16px;
    }

    .information-partners__image--1 {
        width: 181.05px;;
        height: 67.61px;
    }

    .information-partners__image--2 {
        width: 171.16px;
        height: 67.61px;
    }

    .information-partners__image--3 {
        width: 127.61px;
        height: 52.4px;
    }

    .information-partners__image--4 {
        width: 151.68px;
        height: 40.56px;
    }

    .pain {
        width: 720px;
        /*height: 808px;*/
    }

    .pain__cards {
        width: 720px;
        height: 896px;
    }

    .pain__card--1 {
        width: 224px;
        height: 304px;
    }

    .pain__card--2 {
        width: 472px;
        height: 304px;
    }

    .pain__card--3 {
        width: 348px;
        height: 272px;
    }

    .pain__card--4 {
        width: 348px;
        height: 272px;
    }

    .pain__card--5 {
        width: 348px;
        height: 272px;
    }

    .pain__card--6 {
        width: 348px;
        height: 272px;
    }


    .test-benefits {
        width: 768px;
        height: 1096px;
    }

    .test-benefits__cards {
        flex-wrap: wrap;
    }

    .test-benefits__card {
        width: 348px;
        height: 304px;
        display: flex;
        flex-wrap: wrap;
    }

    .experts__card {
        width: 211px;
        height: 231px;
    }

    .experts__card--photo {
        width: 131px;
        height: 131px;
    }

    .experts__mul {
        width: 720px;
        height: 416px;
    }

    .experts__mul__card {
        padding: 40px;
    }

    .experts__mul--text {
        width: 448px;
        height: 336px;
    }

    footer {
        width: 768px;
        height: 978px;
    }

    .social-networks {
        width: 768px;
    }

    .illustration-bottom {
        position: absolute;
        width: 348px;
        height: 353px;
        right: 0;
        top: calc(33% - 353px / 2 + 0.5px);
    }

    .footer-logo {
        right: 24px;
    }

    .footer__text {
        width: 348px;
        height: 360px;
        margin: 144px 396px 474px 24px;
    }

    .fix-width {
        width: 348px;
        height: 96px;
    }
}

@media (max-width: 767px ) and (min-width: 320px) {
    body {
        width: 320px;
    }

    .container {
        width: 100%;
        padding: 0 16px;
    }

    .logo {
        position: absolute;
        width: 77.45px;
        height: 56px;
        left: 110px;
        top: 48px;
        z-index: 10000;
    }

    .illustration {
        width: 448px;
        height: 490.24px;
        left: -64px;
        top: 272px;
    }

    .wrapper {
        position: relative;
        width: 288px;
        height: 614px;
        left: 0;
        top: -490px;
        margin: 0 16px;
    }

    .wrapper__header {
        margin-bottom: 0;
    }

    .wrapper__header-badge {
        margin-top: 136px;
        font-size: 18px;
    }

    .wrapper__header-heading {
        width: 256px;
        height: 132px;
        font-size: 44px;

    }

    .wrapper__header-sub {
        width: 256px;
        height: 88px;
        margin-bottom: 32px;
        font-size: 18px;
    }

    button {
        width: 256px;
        height: 48px;
    }

    p {
        font-size: 18px;
    }

    .wrapper__more {
        margin-top: 46px;
    }

    .arc {
        width: 288px;
        height: 81px;
    }

    .general-partners__title, .information-partners__title {
        font-size: 20px;
    }

    .general-partners__image-1 {
        width: 118.41px;
        height: 45.43px;
    }

    .general-partners__image-2 {
        width: 99.16px;
        height: 45.43px;
    }

    .information-partners__image--1 {
        width: 79.04px;
        height: 52.89px;
    }

    .information-partners__image--2 {
        width: 133.88px;
        height: 52.89px;
    }

    .information-partners__image--3 {
        width: 99.82px;
        height: 40.99px;
    }

    .information-partners__image--4 {
        width: 118.65px;
        height: 52.89px;
    }

    .pain {
        width: 288px;
        height: 1282px;
    }

    .pain__title {
        font-size: 32px;
        margin-bottom: 56px;
    }

    .pain__card {
        width: 288px;
        height: 158px;
    }

    h2 {
        font-size: 32px;
    }

    .pain__cards {
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
        font-size: 20px;
        width: 1176px;
        height: 568px;
        flex-direction: column;
    }

    .result-title {
        width: 100%;
        font-size: 20px;
        height: auto;
        margin-bottom: 144px;
    }

    .test-benefits {
        height: 1098px;
    }

    .test-benefits__card {
        width: 288px;
        height: 296px;
        display: flex;
        align-items: center;
    }

    .test-benefits__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}




