@import "painCard.css";
@import "testBenefits.css";
@import "experts.css";
@import "footer.css";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Futura PT', sans-serif;
}

a {
    text-decoration: none;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --text--color-gray: #637899;
    --text--color-blue: #56B8FF;
    --text--color-black: #27303F;
    --color-border: #DBE3F0;
    --color-background: #F9FAFD;


    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-32: 32px;
    --font-size-40: 40px;
    --font-size-44: 44px;
    --font-size-64: 64px;


    --spacing-xl: 144px;
    --spacing-l: 80px;
    --spacing-m: 56px;
    --spacing-s: 24px;

    --border-radius: 56px;


    --shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);


    --size-photo-CEO: 152px;
    --size-photo-experts: 196px;


    --height-pain-cards-desktop: 272px;


    --width-pain-cards-mobile: 288px;
    --height-pain-cards-mobile: 158px;


    --min-width-it-department-work-image: 446px;


}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-xl);
}


a {
    color: var(--text--color-gray);
    font-size: var(--font-size-18);
    line-height: 145%;
}

/*Button*/
button {
    width: 100%;
    height: 56px;
    color: var(--text--color-blue);
    background-color: white;
    border: 2px solid var(--text--color-blue);
    border-radius: 10px;
    margin-bottom: 12px;
    font-size: var(--font-size-18);
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}


button:hover {
    background: var(--text--color-blue);
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

p {
    font-size: var(--font-size-20);
    line-height: 24px;
    letter-spacing: 0.0025em;
}

.wrapper__button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-18);
    line-height: 22px;
    text-align: center;
    color: var(--text--color-gray)
}

/*FONT-WEIGHT*/
.fw-800 {
    font-weight: 800;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.container {
    max-width: 1440px;
    padding: 0 132px;
}

/*Positions*/
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

/*Width*/
.full-width {
    width: 100%;
}

/*HEADER*/
header {
    height: 820px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.it-department-work-image {
    top: var(--spacing-l);
    right: 0;
    z-index: -1;
}

.logo {
    height: var(--spacing-l);
    width: 112px;
    right: 0;
    top: 64px;
}

.header-content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    background-color: white;
    padding: 0 32px;
    width: 488px;
    height: 790px;
    top: 0;
    border: 1px solid var(--color-border);
    border-radius: 0 0 20px 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
}

.wrapper__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.wrapper__header-badge {
    display: flex;
    column-gap: 8px;
    margin-top: 96px;
    font-size: var(--font-size-20);
    line-height: 24px;
    color: var(--text--color-gray);
}

.wrapper__header-heading {
    font-family: 'Futura Condensed PT', sans-serif;
    margin: var(--spacing-s) 0;
    height: 192px;
    font-size: var(--font-size-64);
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.wrapper__header-sub {
    font-size: var(--font-size-20);
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.0025em;
    color: var(--text--color-gray);
}

.wrapper__more {
    margin-top: 92px;
}

.wrapper__more--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-20);
    line-height: 24px;
    color: var(--text--color-gray);

    width: 95px;
    height: 48px;
    left: calc(50% - 95px / 2 - 0.5px);
    bottom: 52px;
}

/*SECTION INFORMATION_PARTNERS*/
.partners {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.information-partners, .general-partners {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: var(--font-size-24);
    line-height: 132%;
    letter-spacing: 0.0025em;
    text-align: center;
    gap: 32px;
}

.general-partners__image {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 72px;
}

.information-partners__image {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 72px;
}

h2 {
    font-size: var(--font-size-40);
    line-height: 120%;
    letter-spacing: 0.0025em;
    text-transform: uppercase;
}

h4 {
    font-size: var(--font-size-24);
    line-height: 132%;
    letter-spacing: 0.0025em;
    text-align: center;
}

small {
    font-size: var(--font-size-18);
}

@media (max-width: 979px ) and (min-width: 768px) {
    .container {
        width: 100%;
        padding: 0 var(--spacing-s);
        /*overflow: hidden;*/
    }

    header {
        margin-bottom: 271px;
    }

    .logo {
        width: 123px;
        height: 56px;
        left: 354px;
        top: 48px;
        z-index: 10000;
    }

    .header-content__wrapper {
        position: relative;
        width: 640px;
        height: 716px;
        left: 0;
        top: 0;
        margin: 0 64px;
    }

    .wrapper__header {
        margin-bottom: 0;
    }

    .wrapper__header-badge {
        margin-top: 136px;
    }

    .wrapper__header-heading {
        width: 544px;
        height: 128px;
    }

    .wrapper__header-sub {
        width: 392px;
        height: 72px;
        margin-bottom: 45px;
    }

    .wrapper__more {
        margin-top: 46px;
    }

    .it-department-work-image {
        width: 100%;
        top: 334px;
    }

    .information-partners__image {
        width: 504px;
        column-gap: 60px;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 16px;
    }

    .pain__cards {
        width: 100%;
        height: 896px;
    }

    .pain__card--1 {
        width: 31%;
        height: 304px;
    }

    .pain__card--2 {
        width: 65%;
        height: 304px;
    }

    .pain__card--3 {
        width: 48%;
    }

    .pain__card--4 {
        width: 48%;
    }

    .pain__card--5 {
        width: 48%;
    }

    .pain__card--6 {
        width: 48%;
    }

    .test-benefits__cards {
        flex-wrap: wrap;
    }

    .test-benefits__card {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
    }

    .experts__card {
        width: 28%;
    }

    .experts__card-photo {
        width: 131px;
        height: 131px;
    }

    .experts__CEO {
        width: 720px;
        height: 416px;
    }

    .experts__CEO__card {
        padding: 40px;
    }

    .experts__CEO-text {
        width: 448px;
        height: 336px;
    }

    footer {
        width: 768px;
        height: 978px;
    }

    .social-networks {
        width: 768px;
    }

    .footer__text-it-department-work-image {
        position: absolute;
        width: 348px;
        height: 353px;
        right: 0;
        top: calc(33% - 353px / 2 + 0.5px);
    }

    .footer-logo {
        right: var(--spacing-s);
    }

    .footer__text {
        margin: var(--spacing-xl) 396px 474px var(--spacing-s);
    }

}

@media (max-width: 767px ) and (min-width: 320px) {
    body {
        gap: 96px;
    }

    .container {
        width: 100%;
        padding: 0 16px;
        overflow: hidden;
    }

    .logo {
        width: 77.45px;
        height: 56px;
        left: 110px;
        top: 22px;
        z-index: 10000;
    }

    .it-department-work-image {
        width: 448px;
        height: 490px;
        left: -64px;
        top: 272px;
    }


    .header-content__wrapper {
        position: relative;
        width: 288px;
        height: 614px;
        left: 0;
        /*overflow: hidden;*/
    }

    .wrapper__header {
        margin-bottom: 0;
    }

    .wrapper__header-badge {
        font-size: var(--font-size-18);
    }

    .wrapper__header-heading {
        width: 256px;
        height: 132px;
        font-size: var(--font-size-44);

    }

    .wrapper__header-sub {
        width: 256px;
        margin-bottom: 22px;
        font-size: var(--font-size-18);
    }

    .wrapper__more--text {
        width: 86px;
        left: 35%;
        height: 22px;
    }


    button {
        width: 256px;
        height: 48px;
    }

    p {
        font-size: var(--font-size-18);
    }

    .wrapper__more {
        margin-top: 30px;
    }

    .arc {
        width: 272px;
        height: var(--spacing-l);
    }


    .partners {
        width: 100%;
    }

    .general-partners__title, .information-partners__title {
        font-size: var(--font-size-20);
    }

    .general-partners__image-1 {
        width: 118px;
        height: 45px;
    }

    .general-partners__image-2 {
        width: 99px;
        height: 45px;
    }

    .information-partners__image {
        width: 100%;
        row-gap: 16px;
        column-gap: 46px;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pain__title {
        font-size: var(--font-size-32);
        margin-bottom: var(--spacing-m);
    }

    .pain__card {
        width: var(--width-pain-cards-mobile);
        height: var(--height-pain-cards-mobile);
    }

    h2 {
        font-size: var(--font-size-32);
    }

    .pain__cards {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 12px;
        font-size: var(--font-size-20);
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .result-title {
        width: 100%;
        font-size: var(--font-size-20);
        height: auto;
        margin-bottom: var(--spacing-xl);
    }

    main {
        width: 100%;
    }

    .test-benefits {
        width: 100%;
        height: 1290px;
    }

    .test-benefits__card {
        width: 288px;
        height: 296px;
        display: flex;
        align-items: center;
    }

    .test-benefits__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .test-benefits__title {
        gap: 16px;
    }

    .test-benefits__card-text {
        font-size: var(--font-size-18);
    }

    .experts__title {
        width: 100%;
        height: 164px;
    }

    .experts__card {
        width: 188px;
        height: 308px;
    }

    .scroll {
        width: 100%;
    }

    .experts__cards {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: flex-start;
    }

    .experts__card-photo {
        width: 131px;
        height: 131px;
    }

    .experts__CEO {
        width: 288px;
        height: 806px;
        background-size: 12%;
    }

    .experts__CEO__card {
        flex-direction: column;
        padding: 40px 16px;
        align-items: center
    }

    .experts__CEO-text {
        width: 256px;
        height: 462px;
        font-size: var(--font-size-18);
        margin-top: var(--spacing-s);
    }

    .decoration-element {
        width: 40px;
        height: 40px;
        bottom: 16px;
        right: 16px;
    }

    .footer__text-it-department-work-image {
        position: absolute;
        width: 288px;
        height: 292px;
        bottom: 568px;
        right: 16px;
    }

    .footer__text {
        text-align: center;
        margin-bottom: 379px;
    }

    .full-width {
        width: 100%;
    }

    h2 {
        text-align: left;
    }

    .footer__text-block {
        width: 100%;
    }

    .social-networks {
        width: 100%;
        height: 456px;
        flex-direction: column;
        gap: 44px;
    }

    .social-networks__container, .questions__container {
        width: 50%;
    }

    .footer-logo {
        width: 77px;
        height: 56px;
        bottom: 56px;
        right: 32px;
    }
}





